header {
    padding: 12px 220px 25px 220px;
    box-shadow: 0px 5px 2px -5px rgba(34, 60, 80, 0.6);

    @media (max-width: 1366px) {
        padding: 12px 83px 25px 83px;
    }

    @media (max-width: 1024px) {
        padding: 12px 58px 25px 58px;
    }

    @media (max-width: 530px) {
        padding: 12px 20px 25px 20px;
    }


    .top-side {
        @include flex(space-between, center);

        .title {
            @include flex($gap: 10px, $al: center);


            .title-name {
                p {
                    @include font(10px, 400);
                    color: #0AA9B4;
                    text-align: right;

                    @media (max-width: 530px) {
                        @include font(9px, 400);
                    }
                }

                a {
                    @include font(36px, 700);
                    color: #00315C;

                    @media (max-width: 530px) {
                        @include font(32px, 700);
                    }
                }
            }


        }

        .changing-languages {
            a {
                @include font(18px, 400, 140%)
            }

            a:nth-child(1) {
                color: #1F1F24;
            }

            a:nth-child(2) {
                color: #8E8E91;
            }

            a:nth-child(3) {
                color: #8E8E91;
            }

            @media (max-width: 530px) {
                display: none;
            }
        }

        .changing-languages-small {
            display: flex;
            align-items: center;
            gap: 15px;


            div:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            div:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media (max-width: 530px) {
                display: flex;
                gap: 15px;
                align-items: center;


            }

            @media (min-width: 530px) {
                display: none;
            }
        }
    }

    .searching {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 10px;
        width: 100%;
        padding-left: 20px;

        @media (max-width: 530px) {
            gap: 17px;

            @media (max-width: 530px) {
                padding-left: 8px;
            }
        }


        .bar {
            @media (max-width: 530px) {
                width: 25px;
                height: 18px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }

        .input-box {
            @include flex();
            width: 100%;
            height: 68px;
            border: 2px solid #0AA9B4;
            border-radius: 10px 10px 10px 10px;
            padding-left: 8px;
            background: #F7FCFC;

            @media (max-width: 530px) {
                height: 39px;
            }



            .dropdown {
                width: 200px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 0.3s;
                border-right: 2px solid #0AA9B4;
                padding: 0px 8px;

                @media (max-width: 530px) {
                    width: 87px;

                }


                .button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 67px;
                    border-radius: 10px 10px 10px 10px;

                    @media (max-width: 530px) {
                        justify-content: flex-start;
                        gap: 11px;
                        align-items: center;
                        padding: 10px 12px 10px 0px;

                        p {
                            font-size: 12px;
                        }
                    }



                }

                .others {
                    width: 100%;
                    display: none;
                    position: absolute;
                    top: 64px;
                    z-index: 10;

                    a {
                        padding: 14px 14px;
                        display: block;
                        background-color: rgb(255, 255, 255);

                        &:hover {
                            background: rgb(204, 204, 204);
                        }
                    }

                    @media (max-width: 530px) {
                        top: 38px;
                    }
                }

                .active {
                    width: 100%;
                    display: block;
                    position: absolute;
                    top: 64px;
                    z-index: 10;

                    a {
                        padding: 14px 14px;
                        display: block;
                        background-color: rgb(255, 255, 255);

                        &:hover {
                            background: rgb(204, 204, 204);
                        }
                    }

                    @media (max-width: 530px) {
                        top: 38px;
                    }
                }
                .none {
                    width: 100%;
                    display: none;
                    position: absolute;
                    top: 64px;
                    z-index: 10;

                    a {
                        padding: 14px 14px;
                        display: block;
                        background-color: rgb(255, 255, 255);

                        &:hover {
                            background: rgb(204, 204, 204);
                        }
                    }

                    @media (max-width: 530px) {
                        top: 38px;
                    }
                }

                
            }

            .inputSide {
                width: 100%;
                height: 100%;
                // border-left: 2px solid #0AA9B4;
                display: flex;
                align-items: center;
                overflow: hidden;



                input {
                    width: 100%;
                    padding: 20px 0px;
                    border: none;
                    outline: 0 !important;
                    color: #1F1F24;
                    @include font(18px, 400, 140%);
                    padding-left: 25px;

                    @media (max-width: 530px) {
                        width: calc(100% - 8px);
                        padding: 0px 0px 0px 10px;
                        @include font(12px, 400, 140%);
                    }

                }

                div {
                    display: flex;
                    align-items: center;
                    padding: 0px 21px 0px 14px;
                    cursor: pointer;
                    background-color: white;


                    @media (max-width: 530px) {
                        display: none;
                    }

                }

            }
        }
    }
}